.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 10px;
  color: white;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  position: relative;
  text-align: center;
}

.header-button {
  font-size: 1.5em;
  color: white;
  text-decoration: none;
  margin: 0 10px; /* Adds spacing between buttons */
  background: none;
  border: none;
  cursor: pointer;
  transition: color 0.3s ease, transform 0.3s ease;
}

.header-button.search-button {
  color: white; /* Makes the search button white */
}

.header-button:hover {
  color: #61dafb;
  transform: scale(1.1);
}

.header-button:active {
  color: #21a1f1;
  transform: scale(0.9);
}

.App-main {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  overflow-x: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.App-header h1 {
  margin: 0;
  font-size: 3em;
}

.App-header nav ul {
  list-style: none;
  padding: 0;
}

.App-header nav ul li {
  display: inline;
  margin: 0 10px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
}

.App-footer {
  background-color: #282c34;
  padding: 0px;
  color: white;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.App-link {
  color: #61dafb;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.profile-list-wrapper {
  display: flex;
  align-items: center;
  width: 100%;

}

.profile-list {
  display: flex;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  padding: 20px;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; 
  scrollbar-width: auto;
}

.profile-list::-webkit-scrollbar {
  display: none; 
}

.profile-card {
  background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  cursor: pointer;
  flex: 0 0 auto;
}

.profile-name {
  color: #333;
}

.profile-detail {
  color: #666;
}

.scroll-button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin: 10px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.scroll-button-left {
  left: 10px;
}

.scroll-button-right {
  right: 10px;
}

/* used on the header */
.profile-button {
  background: none;
  border: none;
  color: white;
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.profile-button i {
  font-size: 1.5em;
}

.home-button {
  background: none;
  border: none;
  color: white;
  font-size: 3em;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

.home-button i {
  font-size: 1.5em;
}

.logout-button {
  background: none;
  border: none;
  color: white;
  font-size: 1em;
  cursor: pointer;
  margin-top: 10px;
}

.login-container, .register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  background-color: #282c34;
  color: white;
}

.login-form, .register-form {
  background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form input, .register-form input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.login-form button, .register-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1em;
}

.login-form button:hover, .register-form button:hover {
  background-color: #21a1f1;
}

.button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

.button:active {
  background-color: #1e90ff;
  transform: scale(0.95);
}

.logout-button {
  width: 10%;
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1em;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.logout-button:hover {
  background-color: #21a1f1;
  transform: scale(1.05);
}

.logout-button:active {
  background-color: #1e90ff;
  transform: scale(0.95);
}

/* .search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: scroll;
}

.search-form { */
  /* background-color: #333;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: white;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
  cursor: pointer;
  flex: 0 0 auto;
}

.search-form input,
.search-form label {
  width: 100%;
  margin: 10px 0;
  color: #333;
  margin-bottom: 10px;
}

.search-form input {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #444;
  color: white;
  width: auto;
}

.search-form input[type="radio"],
.search-form input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
  vertical-align: middle ;
}

.search-form button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #21a1f1;
} */

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 100%;
  height: 70vh;
  overflow-y: auto;
  /* overflow-x: scroll; */
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

.search-form {
  width: 100%;
  max-width: 1200px;
}

.search-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Ensures responsiveness */
  margin-bottom: 20px;
}

.search-option {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
}

.search-option label {
  margin-bottom: 5px;
}

.search-form input[type="radio"],
.search-form input[type="checkbox"] {
  margin-right: 5px;
  vertical-align: middle;
}

.search-form button {
  width: 100px;
  padding: 10px;
  margin: 10px 0;
  background-color: #61dafb;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #333;
  font-size: 1em;
  transition: background-color 0.3s ease;
}

.search-form button:hover {
  background-color: #21a1f1;
}